---
layout: default
description: Some lost musings
---

<style type="text/css" media="screen">
	.container {
		margin: 10px auto;
		text-align: center;
	}
	h1 {
		margin: 30px 0;
		font-size: 4em;
		line-height: 1;
		letter-spacing: -1px;
	}
</style>

<div class="container">
	<h1>404</h1>

	<p><strong>Page not found :(</strong></p>
	<p>The requested page could not be found.</p>

	<img src="https://http.cat/404.jpg" style="width:100%">
</div>
