---
layout: page
title: index(blog)
description: An index of other things and musings
---
<ul>
	{% for post in site.posts %}
	<li>
		<time datetime="{{ post.date | date: '%F' }}">{{ post.date | date: "%Y %b %d" }}</time>
		&mdash;
		<a href="{{ post.url }}">{{ post.title }}</a>
	</li>
	{% endfor %}
</ul>
