---
layout: page
title: Factorio instances
description: Some words about some Factorio servers
---
<p>
	I'm running a (24/7) <a href="https://cloud.google.com/compute/">GCP Compute Engine</a> instances running the fantastic game <a href="https://www.factorio.com/">Factorio</a>.
	The server has 2&thinsp;vCPU and 2&thinsp;GB of RAM.
	Here's a list of their names:
	<ul>
		{% for instance in site.data.factorio %}
			<li><b>{{ instance.name }}</b> (<i>{{ instance.fenv }}</i>) &mdash; {{ instance.description }}</li>
		{% endfor %}
	</ul>
</p>

<p>
	If the game servers are not listed in the public server browser, the IP of the GCP instance is <span class="tt">factorio.mattmahnke.xyz</span> and the ports start at Factorio's default (<span class="tt">34197</span>) and increments beyond.
</p>
