---
title: License
layout: page
---
<p>
	All prose (namely blog posts) are licensed under <a href="https://creativecommons.org/licenses/by-nc/4.0/">CC BY-NC-4.0</a>.
</p>

<p>
	All applicable source code listings on this website (www.mattmahnke.xyz) and in this repository (<a href="https://gitlab.com/mattmahn/mattmahn.gitlab.io">gitlab.com/mattmahn/mattmahn.gitlab.io</a>) is released into the public domain under the <a href="http://unlicense.org">Unlicense</a>.
	Images and other media generated via source code are also licensed under this license.
	Examples include Graphviz, PlantUML, nwdiag, and ditaa diagrams.
</p>

<h2>Open Source Licenses</h2>

<ul>
	{% for project in site.data.osl %}
	<li>
		{{ project.name }} <a href="{{ project.url }}">license</a>
	</li>
	{% endfor %}
</ul>
