---
---
@charset "UTF-8";
@import "variables";
@import "/vendor/normalize.css";
@import "iosveka";

:root {
  background: $color-bg;
  box-sizing: border-box;
  color: $color-text;
  font: $font-size $font-stack-serif;
  line-height: $line-height;
  text-rendering: optimizeLegibility;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a, a:visited {
  color: $color-a;
  text-decoration-line: none;

  &:hover {
    text-decoration-line: underline;
    text-decoration-skip: ink;
  }
}

body {
  margin: 0 auto;
  max-width: 41rem;
  padding: 1rem;
}

code,
pre,
.tt {
  font-family: $font-stack-mono;
  hyphens: none;
  line-height: 1.236;
  overflow-x: auto;
}

h1, h2, h3, h4, h5, h6 {
  color: $color-heading;
  font-family: $font-stack-sans;
  font-weight: 700;
  line-height: 1.1;
}

img {
  background: white;
  max-width: 100%;
}

p {
  -ms-hyphens: auto;
      hyphens: auto;
  margin: 1.12rem 0;
}

*[lang^="en"] q {
  quotes: "\201c" "\201d" "\2018" "\2019"
}

::selection,
::-moz-selection {
  background: $color-selection-bg;
  color: $color-selection-fg;
}

{% if jekyll.environment == "production" %}
#MathJax_Message {
  display: none !important;
}
{% endif %}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.highlight {
  // background: $color-listing-bg;
  margin: 0 1rem;
  padding: 1rem;
}

.revoked {
  color: $color-revoked;
}

@import "navbar";
@import "post";
@import "asciidoc";
@import "post_navigation";
