- attribution = attr :attribution
- citetitle = attr :citetitle
- if attribution || citetitle
  .attribution
    - if attribution
      |&#8213; #{attribution}
    - if citetitle
      - if attribution
        br
      cite =citetitle
