.admonitionblock.clearfix id=id class=[(attr :name), role] role="note"
  .icon
    -if font_icons?
      i class=%(fa icon-#{attr :name}) title=caption
    - elsif icons?
      img src=icon_uri(attr :name) alt=caption
    - else
      .title =caption
  .content
    - if title?
      .title =title
    =content
