<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Referrer-Policy" content="no-referrer-when-downgrade">
	<meta http-equiv="X-XSS-Protection" content="1; mode=block">
	<meta name="theme-color" content="#111">
	<link rel="manifest" href="/manifest.json">

	<meta http-equiv="Content-Security-Policy" content="default-src 'none' ; script-src 'self' 'unsafe-inline' cdn.report-uri.com cdn.mathjax.org cdnjs.cloudflare.com webmention.io ; style-src 'self' 'unsafe-inline' cdnjs.cloudflare.com ; img-src 'self' http.cat data: ; font-src 'self' cdnjs.cloudflare.com ; connect-src 'self' mattmahnke.report-uri.com webmention.io ; upgrade-insecure-requests ; manifest-src 'self' ;">
	<script type="text/json" id="csp-report-uri">
		{
			"keys" : ["blockedURI", "columnNumber", "disposition", "documentURI", "effectiveDirective", "lineNumber", "originalPolicy", "referrer", "sample", "sourceFile", "statusCode", "violatedDirective"],
			"reportUri" : "https://mattmahnke.report-uri.com/r/d/csp/enforce"
		}
	</script>
	<script src="https://cdn.report-uri.com/libs/report-uri-js/1.0.1/report-uri-js.min.js" integrity="sha256-Cng8gUe98XCqh5hc8nAM3y5I1iQHBjzOl8X3/iAd4jE= sha384-jlXVxXbM8AXGPwA7gwudc4NU2z7qZsSpsj5eIXnEsBl5SjwyGxFi1BlpE9fTZtJU sha512-JCpIN4tzFUhRC8Fknp3Or3NZ82b5eQxEQ2SrAGiwhqNH/EVq2HtV9B6+rEqt8dGr3brogQRpEgRw4Kk8wNb4vg==" crossorigin="anonymous"></script>
	<script async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-MML-AM_CHTML" integrity="sha256-yYfngbEKv4RENfGDvNUqJTqGFcKf31NJEe9OTnnMH3Y= sha384-crwIf/BuaWM9rM65iM+dWFldgQ1Un8jWZMuh3puxb8TOY9+linwLoI7ZHZT+aekW sha512-n9zwl+vW+B7/eARAI6ZQWmFAOzXiaDdgU8HoCEINtjFQYZRjLKbqUQCyVWtVYN4k/DOJ+bHHguQeyKSj+eTBaw==" crossorigin="anonymous"></script>

	{% feed_meta %}

	<link rel="preload" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" as="style" onload="this.rel='stylesheet'" integrity="sha384-MI32KR77SgI9QAPUs+6R7leEOwtop70UsjEtFEezfKnMjXWx15NENsZpfDgq8m8S" crossorigin="anonymous">
	<link rel="preload" type="text/css" href="/main.css" as="style" onload="this.rel='stylesheet'">
	<noscript>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" integrity="sha384-MI32KR77SgI9QAPUs+6R7leEOwtop70UsjEtFEezfKnMjXWx15NENsZpfDgq8m8S" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="/main.css">
	</noscript>
	<script>
{% include loadCSS.js %}
{% include cssrelpreload.js %}
	</script>

	<script async src="/favicon.js"></script>

	{% seo %}
	{% webmentions_head %}
</head>
