@charset "UTF-8";

.admonitionblock {
  align-items: center;
  border: 2px solid;
  color: $color-admonition;
  display: flex;
  margin: 0.5rem 0;

  p {
    margin: 0.5em 0;
  }

  .content {
    flex-shrink: 10;
    margin: 0.5rem 0.5rem 0.5rem 0;
  }

  .icon {
    float: left;
    padding: 0.5rem;
    text-align: center;
    width: 50px;

    [class^="fa icon-"] {
      cursor: default;
      font-size: 2rem;
    }

    .icon-caution::before {
      color: $color-caution-icon;
      content: "\f06d";
    }

    .icon-important::before {
      color: $color-important-icon;
      content: "\f06a";
    }

    .icon-note::before {
      color: $color-note-icon;
      content: "\f05a";
    }

    .icon-tip::before {
      color: $color-tip-icon;
      content: "\f0eb";
    }

    .icon-warning::before {
      color: $color-warning-icon;
      content: "\f0e7";
    }
  }

  &.caution {
    border-color: $color-caution-bg;
  }

  &.important {
    border-color: $color-important-bg;
  }

  &.note {
    border-color: $color-note-bg;
  }

  &.tip {
    border-color: $color-tip-bg;
  }

  &.warning {
    border-color: $color-warning-bg;
  }
}

.quoteblock {
  display: grid;
  grid-template-areas:
    "lqo quote rqo"
    "cite cite cite";
  grid-template-columns: 35px auto 35px;
  grid-template-rows: auto auto;
  margin: 1rem 0;

  blockquote {
    grid-area: quote;
    margin: 0;
  }

  p {
    margin: 1rem 0;
  }

  :first-child {
    margin-top: 0;
  }

  .attribution {
    grid-area: cite;
    margin-left: auto;
    text-align: right;
    width: 75%;
  }

  .qmark {
    bottom: -1ex;
    font-size: 3em;
    justify-self: center;
    position: sticky;
    top: 0px;

    &.ldquo {
      align-self: start;
      grid-area: lqo;
      margin-top: -0.5ex;
    }

    &.rdquo {
      align-self: end;
      grid-area: rqo;
      margin-bottom: -0.5ex;
    }
  }
}

.imageblock {
  text-align: center;
}

.sidebarblock {
  border: 2px dashed $color-sidebar-border;
  float: right;
  font-size: $sidebar-font-size;
  line-height: $sidebar-line-height;
  margin: 1em 0 1em 1em;
  max-width: 33%;
  padding: 0.5em;
  transform: translateY(-1rem);

  p {
    margin: 0.5em 0;
  }

  .title {
    font-weight: bold;
    margin-bottom: 0.5em;
    text-align: center;
  }

  :first-child {
    margin-top: 0;
  }

  :last-child {
    margin-bottom: 0;
  }
}

.stemblock {
  .content {
    overflow-x: auto;
  }
}
