@charset "UTF-8";

@font-face {
  font-family: "Iosevka Type";
  src:
    local("Iosveka Type"),
    url("/vendor/iosevka-type/iosevka-type-regular.woff2") format("woff2"),
    url("/vendor/iosevka-type/iosevka-type-regular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Iosveka Type';
  src:
    local("Iosevka Type"),
    url("/vendor/iosevka-type/iosevka-type-oblique.woff2") format("woff2"),
    url("/vendor/iosevka-type/iosevka-type-oblique.woff") format("woff");
  font-style: oblique;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Iosveka Type';
  src:
    local("Iosevka Type"),
    url("/vendor/iosevka-type/iosevka-type-italic.woff2") format("woff2"),
    url("/vendor/iosevka-type/iosevka-type-italic.woff") format("woff");
  font-style: italic;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Iosveka Type';
  src:
    local("Iosevka Type"),
    url("/vendor/iosevka-type/iosevka-type-bold.woff2") format("woff2"),
    url("/vendor/iosevka-type/iosevka-type-bold.woff") format("woff");
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: 'Iosveka Type';
  src:
    local("Iosevka Type"),
    url("/vendor/iosevka-type/iosevka-type-bolditalic.woff2") format("woff2"),
    url("/vendor/iosevka-type/iosevka-type-bolditalic.woff") format("woff");
  font-style: italic;
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: 'Iosveka Type';
  src:
    local("Iosevka Type"),
    url("/vendor/iosevka-type/iosevka-type-boldoblique.woff2") format("woff2"),
    url("/vendor/iosevka-type/iosevka-type-boldoblique.woff") format("woff");
  font-style: oblique;
  font-weight: bold;
  font-display: swap;
}
