@charset "UTF-8";

nav#navbar {
  font-family: $font-stack-sans;
  font-size: 0.8rem;
  font-weight: 300;

  .links {
    float: right;
    list-style: none;

    > * {
      display: inline;
      padding: 1rem;
      text-transform: lowercase;
    }
  }
}
