@charset "UTF-8";

article {
  header {
    .meta {
      color: $color-article-meta;
      font-size: smaller;

      span.divider::before {
        content: "|";
        margin: 0 0.5em;
      }
    }
  }

  hr {
    background-color: $color-heading;
    border: 0;
    height: 2px;
    margin: 2rem auto;
    width: 33%;
  }

  footer {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.6rem;
    margin: 2rem 0;
    text-align: center;

    a,
    a:visited {
      color: inherit;
    }
  }
}
