@charset "UTF-8";
$arrow-width: 1em;

.post-navigation {
  svg.arrow {
    fill: none;
    stroke-dasharray: 0, 20;
    stroke-dashoffset: -14.142;
    stroke-width: 2px;
    transition: all 0.2s;
    width: $arrow-width;
  }

  .next {
    float: right;
    text-align: right;
    width: 50%;

    svg.arrow {
      margin-right: -$arrow-width;
    }
  }

  .prev {
    float: left;
    text-align: left;
    width: 50%;

    svg.arrow {
      margin-left: -$arrow-width;
    }
  }

  .next a:hover,
  .prev a:hover {
    svg.arrow {
      stroke: $color-a;
      stroke-dasharray: 28.284, 20;
      stroke-dashoffset: 0;
    }
  }
}
