@charset "UTF-8";
$font-size: 18px;
$font-stack-mono: "Operator Mono", "Source Code Pro", monospace;
$font-stack-sans: "Source Sans Pro", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
$font-stack-serif: "Source Serif Pro", serif;
$line-height: 1.5;

$color-bg: black;
$color-selection-bg: yellow;
$color-selection-fg: black;
$color-text: #eee;

$color-a: rgb(10, 207, 131);

$color-heading: rgb(162, 89, 255);
$color-article-meta: rgba(255, 255, 255, 0.5);

$color-listing-bg: #f6f8fa;
$color-revoked: #666;

$color-admonition: $color-text;
$color-caution-bg: #fa0;
$color-caution-icon: $color-caution-bg;
$color-important-bg: #ffff23;
$color-important-icon: $color-important-bg;
$color-note-bg: rgb(26, 188, 254);
$color-note-icon: $color-note-bg;
$color-tip-bg: #ff5699;
$color-tip-icon: $color-tip-bg;
$color-warning-bg: #f44336;
$color-warning-icon: $color-warning-bg;

$color-sidebar-border: #e53935;
$sidebar-font-size: smaller;
$sidebar-line-height: 1.2;

$color-quote-border: rgba(255, 255, 255, 0.3);
