---
layout: default
---
{% case page.type %}
	{% when 'year' %}
		{% assign date_format = '%b %d' %}
	{% when 'month' %}
		{% assign date_format = '%d' %}
{% endcase %}

<h1>index(blog, year={{ page.date | date: '%Y' }}{% if page.type == 'month' %}, month="{{ page.date | date: '%B' }}"{% endif %})</h1>

<ul>
{% for post in page.posts %}
	<li>
		<time datetime="{{ post.date | date: '%F' }}">{{ post.date | date: date_format }}</time>
		&mdash;
		<a href="{{ post.url }}">{{ post.title }}</a>
	</li>
{% endfor %}
</ul>
