---
layout: default
---
<article itemscope itemtype="http://schema.org/BlogPosting">
	<meta itemprop="wordCount" content="{{ page.content | number_of_words }}">
	<header>
		<h1 itemprop="name headline">{{ page.title }}</h1>

		<div class="meta">
			<time datetime="{{ page.date | date: '%FT%T%z' }}" title="{{ page.date | date: '%A, %e %B %Y' }}" itemprop="dateCreated datePublished">{{ page.date | date: '%e %B %Y' }}</time>
			<span class="divider"></span>
			<span itemprop="timeRequired">{{ page.content | reading_time_as_i }}</span>
		</div>
	</header>

	<div itemprop="articleBody">
		{{ content }}
	</div>

	<hr>

	{% webmentions page.url %}

	<div class="post-navigation clearfix">
		{% if page.previous %}
		<div class="prev">
			&nbsp;Previous post:<br>
			<a rel="prev" href="{{ page.previous.url }}">
				<svg class="arrow" viewBox="0 0 20 20">
					<path d="M20 0 L10 10 L20 20" />
				</svg>
				{{ page.previous.title }}
			</a>
		</div>
		{% endif %}
		{% if page.next %}
		<div class="next">
			Next post:&nbsp;<br>
			<a rel="next" href="{{ page.next.url }}">
				{{ page.next.title }}
				<svg class="arrow" viewBox="0 0 20 20">
					<path d="M0 0 L10 10 L0 20" />
				</svg>
			</a>
		</div>
		{% endif %}
	</div>

	<footer>
		<a href="/LICENSE.html" rel="license" itemprop="license" itemscope itemtype="http://schema.org/URL">
			two or fewer rights reserved
		</a>
	</footer>
</article>
{% webmentions_js %}
